@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #162938;
    background-size: cover;
    background-position: center;
}

.contact h2 {
    font-size: 40px;
    color: #ededed;
    text-align: center;
    margin-bottom: 10px;
}

.contact form {
    width: 600px;
    text-align: center;
}

form .input-box {
    display: flex;
    justify-content: space-between;
}

.input-box .input-field {
    width: 48.5%;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px;
    backdrop-filter: blur(20px);
}

.field.error .item {
	border-color: #d93025;
}

.field .item::placeholder {
    color: rgba(255, 255, 255, .3);
}

.field .error-txt {
    font-size: 14.5px;
    color: #d93025;
    text-align: center;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt {
	display: block;
}

form .textarea-field .item {
    resize: none;
}

textarea-field .error-txt {
    margin: -10px;
}

form button {
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}

form button:hover {
    box-shadow: none;
}

.field .item.shake {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(-10px);
    }
    30%, 50%, 70% {
        transform: translateX(10px);
    }
}

#backToHomeBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #0ef;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#backToHomeBtn:hover {
    background-color: #333;
    color: #0ef;
}
